@font-face {
    font-family: 'Lobster';
    src: url('/assets/resources/fonts/lobster/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/resources/fonts/montserrat/Montserrat-VariableFont_wght.ttf');
}

/*Tela de Perfil*/
#profile-password-input::placeholder{
    color: #0E1531;
    font-family: Montserrat;
    max-width: 16rem;
}

#user-place{
    font-family: Lobster;
    font-size: 1rem;
}

.profileImage{
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    background-image: url(/assets/resources/images/wepik-export-20231108005141haJW.png);
    background-size: contain;
    box-shadow: 1px 1px 6px black;
}

h2{
    font-family: Lobster;
    font-size: 200%;
    margin-top: 1rem;
}
/*Tela de Perfil*/

/*Tela de Registro*/
#confirm-password-input::placeholder{
    color: #DB1433;
    font-family: Montserrat;
}

.register-form input:focus {
    box-shadow: none;
}

.register-error{
    color: #DB1433;
}
/*Tela de Registro*/

/*Tela de Login*/
#register-link:hover {
    color: #DB1433;
    text-decoration: none;
}

.login-form input:focus {
    box-shadow: none;
}
/*Tela de Login*/

/*Criação de composição*/
.modal-content{
    border-color: #DB1433;
    box-shadow: 1px 1px 10px black;    
}

.modal-content input{
    color: #0E1531;
}

.modal-content input::placeholder{
    color: #0E1531;
    font-family: Montserrat;
}

.modal-title{
    font-family: Montserrat;
    font-size: 1rem;
}
/*Criação de composição*/

/*Multiuso*/
#name-input::placeholder{
    color: #DB1433;
    font-family: Montserrat;
}

#password-input::placeholder{
    color: #DB1433;
    font-family: Montserrat;
}

.button1 {
    font-family: Montserrat;
    font-weight: 600;
}

.form1 {
    width: 34rem;
}

h1 {
    font-family: Lobster;
    font-size: 220%;
    margin-top: 13rem;
    margin-bottom: 10%;
}

h3 {
    font-family: Lobster;
    font-size: 120%;
    margin-bottom: 0rem;
}
/*Multiuso*/

.card{
    border-color: #DB1433;
    box-shadow: 1px 1px 7px; 
}

.card h5{
    font-size: 1rem;
    font-family: Lobster;
}

.card h4{
    font-size: 1.5rem;
    font-family: Lobster;
    margin-bottom: 0rem;
}

.card button{
    color: black;
}
